body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topmenu {
  overflow: hidden;
  background-color: #333547;
}

.topmenu a {
  float: left;
  display: block;
    color: gray;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topmenu a:hover {
  background-color: #ddd;
  color: black;
}


.topmenu a.active {
  background: linear-gradient(to right, #2396b0, #2ec4e6);
  color: white;
}

.topmenu a.active_n {
  color: white;
}


.submit{
  background-color: #2ec4e6;
  width: 70px;
  height: 30px;
  color: white;
}

#main
{
  float:left;
  height:100%;
  width:1000px;
  
}
#main_left
{
  float:left;
  height:500px;
  width:26%;
  background-color:#fff;
  margin: 20px;
}
#main_right
{
  float:right;
  height:500px;
  width:66%;
  margin: 20px;
  
}
#left
{
  float:left;
  height:500px;
  width:660px;
  margin: 20px;
}
#right
{
  float:right;
  height:500px;
  width:260px;
  
  margin: 20px;
  
}
